
body{
    display: flex;
    flex-direction: column;
    background-color: #161516;
}

header {
    position: fixed;
    background-color: #161516;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.studio {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start; 
}

.studio img {
    width: 150px;
    border-radius: 50%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}


header h1 {
    color: #F5D5F0;
    font-family: Apple Chancery, cursive;
    font-size: 2.5rem;
    padding-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 0.2rem;
}

header h2 {
    color: #6667AB;
    font-family: Apple Chancery, cursive;
    font-size: 1rem;
    padding-left: 2rem;

}

.icons {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

.icon {
    width: 70px;
    border-radius: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.name {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: start; 
    flex-direction: column;
}

.first, .second, .third {
    display: flex;
    flex-wrap: wrap;
    justify-content: start; 
    margin-top: 270px;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 30px;
}

.first {
    flex-direction: row;
}

.second, .third {
    flex-direction: column;
}

.third {
    margin-bottom: 1rem;
}

.contacts, .what, .who, .about {
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(80, 71, 143, 1) 57%, rgba(102, 103, 171, 1) 100%);
}

.contacts:hover, .what:hover, .who:hover, .about:hover { 
    background: #7B337E;
}

.about {
    color: #F5D5F0; 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 23vh;
    border-radius: 20px 20px;
    transition: background-color 1s ease-in-out;
}

.what {
    color: #F5D5F0; 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 50vh;
    border-radius: 20px 20px;
    transition: background-color 1s ease-in-out;
}

.what_header {
    color: #6667AB;
    font-family: Apple Chancery, cursive;
    font-size: 3rem;
    text-align: left;
}

.service {
    font-weight: bold;
    color: #6667AB; 
}

.what p {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

p {
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-family: monospace;
}

.who {
    color: #F5D5F0; 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px;
    flex-grow: 1; 
    transition: background-color 1s ease-in-out;
}

.contacts {
    color: #F5D5F0; 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px;
    flex-grow: 1; 
    transition: background-color 1s ease-in-out;
}

.contacts h2 {
    color: #6667AB;
    font-size: 3rem;
    padding-bottom: 2rem;
    font-family: Apple Chancery, cursive;
    text-align: left;
}

.contacts .service {
    margin-top: 2rem;
}

.row_third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; 
  gap: 30px;    
}


.first .about {
  flex: 1 1 45%;  
  max-width: 45%;
}

.row_third .who,
.row_third .contacts {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  max-width: 45%;
  padding: 2rem;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
    .who p {
        font-size: 1.15rem;
    }
    section {
        margin-top: 200px;
    }
    .icons {
        padding: 1rem;
    }
    .second {
        max-width: 90%;
    }
}

@media screen and (max-width: 800px) {
  .first, .row_third {
    flex-direction: column;
  }

  .first .about,
  .row_third .who,
  .row_third .contacts {
    width: 100%;
    max-width: 100%;
  }
}




